#special {
    color: orange;
}

.blueText {
    color: blue
}

p {
    color:red
}

.box, .box2{
    height: 100px;
    width: 100px;
    background-color:orange;
}

#red{
    background-color: red;
    position: relative;
    top: 20px;
    left: 20px
}
.parent{
    position: relative
}
#purple{
    background-color: purple;
    position:absolute;
    top: 20px;
    right: 20px
}

.box2{
    display: inline-block;
    margin-right: 30px;
}

span{
    display: block;
}

.board{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.checkbox{
    height: 150px;
    width: 150px;
    background-color: black;
    margin: 5px 5px;
}

.checkbox2{
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 5px 5px;
}